testsite/biodiversity/biodiversity_mammal_db.csv
mammal_info.csv
biodiversity_hist_db.csv
biodiversity_mammal_db.csv
sorted_mammal_info.csv
test.csv
chosen_mammals_info.csv
animals/ not/ found.csv
log_output.txt
credentials.txt
save_credentials_time.txt

geckodriver.log
*.jpg
!default.jpg
*.png
!default.png
README.md~
db.sqlite3
*.cpython-36.pyc
newRepo_test.py