.team-pics{
  object-fit: cover;
  width: 300px;
  height: 337px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ccf1fc;
  overflow: hidden;
  border-bottom: double;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Comic Sans MS;
  font-size: 17px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #1d781d;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #76bacf;
  color: black;
}

.header{
  font-family: Comic Sans MS;
  -webkit-text-stroke: 3px black;
  color: #1d781d;
}


table.reports {
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.reports td, table.reports th {
  border: 1.5px solid black;
  padding: 3px 2px;
}
table.reports th{
  color: #1d781d;
}
table.reports tbody td {
  font-size: 13px;
}
table.reports tr:nth-child(even) {
  background: #ccf1fc;
}
table.reports thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
}
table.reports thead th {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.reports thead th:first-child {
  border-left: none;
}

table.reports tfoot td {
  font-size: 12px;
}
table.reports tfoot .links {
  text-align: right;
}
table.reports tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}



h2{
  font-family: Comic Sans MS;
  color: #1d781d;
  font-size: 40px;
}

h3{
  font-family: Comic Sans MS;
  color: #1d781d;
  font-size: 35px;
}

h4{
  font-family: Comic Sans MS;
  color: #000000;
  font-size: 22px;
}


.normal_text{
	font-family: Sans-Serif;
	font-size: 15px;

}
