{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  
  <img style="display:inline;" src="{% static 'Logos/GeoLearn_Logo.png' %}" alt="GeoLearn Logo">
  <title class="header" style="display:inline; font-size:90px;">GeoLearn</title>

  <div class="topnav">
    <a class="active" href="/index.html">Home</a>
    <a href="/Slides.html">Slides</a>
  </div>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:powderblue;">
	<h2>What kind of slides can you create?</h2>
  <div class="slide-container">
	<span id="slider-image-one"></span>
	<span id="slider-image-two"></span>
	<span id="slider-image-three"></span>
  <div class="image-container">
	<div class="container">
		<img src="{% static 'Images/lion.jpg' %}" style="width:840px; height:350px;">
			<div class="content">
			
			<h3 style="color: powderblue; font-family: Trebuchet MS, Helvetica, sans-serif;">Biodiversity</h3>
				<p style="color: white;">Biodiversity represents the living organisms that live in a certain environment.
				By choosing to create sides based on biodiversity, you will get slides containing
				animal information based on the location specified by you.</p>
			</div>
	</div>
	<p></p>
	<div class="container">
	<img src="{% static 'Images/land_use.png' %}" alt="Land" style="width:840px; height:350px">
		<div class="content">
				<h3 style="color: powderblue; font-family: Trebuchet MS, Helvetica, sans-serif;">Land-Use</h3>
				<p style="color: white;">Land-Use is essentially how humans use the resources to develpe the 
				communities around us. These slides will show how the area around you has changed over the years, </p>
		</div>
	</div>
	<p></p>
	<div class="container">
	<img src="{% static 'Images/climate.jpg' %}" alt="Climate" style="width:840px; height:350px;">
		<div class="content">
				<h3 style="color: powderblue; font-family: Trebuchet MS, Helvetica, sans-serif;">Climate Change</h3>
				<p style="color: white;">Biodiversity represents the living organisms that live in a certain environment.
				By choosing to create sides based on biodiversity, you will get slides containing
				animal information based on the location specified by you.</p>
		</div>
	</div>
	</div>
   </div>
   <div class="button-container">
	<a href="#slider-image-one" class="slider-button"></a>
	<a href="#slider-image-two" class="slider-button"></a>
	<a href="#slider-image-three" class="slider-button"></a>
   </div>
</body>
</html>
