{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<script src="{% static '/js/Bio.js' %} "> </script>

  <div class="topnav-title">
  <img style="display:inline;" src="{% static 'Logos/GeoLearn_Logo.png' %}" alt="GeoLearn Logo">
  <title class="header" style="display:inline; font-size:90px;">EnviroSlides</title>
</div>

<div class="topnav">
  <a href="/index.html">Home</a>
  <a href="/Slides.html">Slides</a>
 </div>
</head>
<body>

<div class="dropdown">
  <button onclick="selectedDifficulty()" class="dropbtn">Difficulty</button>
  <div id="difficulty" class="dropdown-content">
    <a href="#advance">Advanced</a>
    <a href="#intermediate">Intermediate</a>
    <a href="#beginner">Beginner</a>
  </div>
</div>

<!--Google Maps API for LAT LONG Selection-->
<input id="pac-input" class="controls" type="text" placeholder="Enter a Location">
<div id="map"></div>

<script>

	function initAutocomplete() {
		var map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 35.19807, lng: -111.65127},
				zoom: 6,
				mapTypeId: 'roadmap'
		});

		//check if browser has geolocation abilities and find location
		geoLocation(map);

		//listener to create a new marker on a click
		google.maps.event.addListener(map, 'click', function (event) {
			//clear old marker
			markers.forEach(function(marker) {
				marker.setMap(null);
			});
			//create new marker
			marker = new google.maps.Marker({
				 position: event.latLng,
				 map: map
		  });

			//add it to the array
			markers.push(marker);

			//populate Lat/Long form
			document.getElementById('Longitude').value = event.latLng.lng();
			document.getElementById('Latitude').value = event.latLng.lat();
	 });

		//alert("Lat: " + event.latLng.lat() + ", Long: " + event.latLng.lng());

		//create the search box and link it to the UI element
		var input = document.getElementById('pac-input');
		var searchBox = new google.maps.places.SearchBox(input);
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      // Bias the SearchBox results towards current map's viewport.
      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });

			var markers = [];

      // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }

        // Clear out the old markers.
        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }
          var icon = {
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
          };

          // Create a marker for each place.
          markers.push(new google.maps.Marker({
            map: map,
            icon: icon,
            title: place.name,
            position: place.geometry.location
          }));

					//populate Lat/Long form
					document.getElementById('Longitude').value = place.geometry.location.lng();
					document.getElementById('Latitude').value = place.geometry.location.lat();

          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        map.fitBounds(bounds);
      });
    }

	function geoLocation(map_param) {

		var map, infoWindow, marker;
		var default_loc = {lat: 35.0, lng: -111.0}
		map = map_param;
		infoWindow = new google.maps.InfoWindow;

		var icon = {
			size: new google.maps.Size(71, 71),
			origin: new google.maps.Point(0, 0),
			anchor: new google.maps.Point(17, 34),
			scaledSize: new google.maps.Size(25, 25)
		};

		if(navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				var pos = {
					lat: position.coords.latitude,
          lng: position.coords.longitude
				};

				infoWindow.setPosition(pos);
				infoWindow.setContent('Location found.');
				infoWindow.open(map);
				map.setCenter(pos);

				document.getElementById('Longitude').value = position.coords.longitude;
				document.getElementById('Latitude').value = position.coords.latitude;

			}, function() {
				handleLocationError(true, infoWindow, map.getCenter());
			});
		} else {
			// Browser doesn't support Geolocation
			handleLocationError(false, infoWindow, map.getCenter());
		}
	}

	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
		infoWindow.setPosition(pos);
		infoWindow.setContent(browserHasGeolocation ?
													'Error: The Geolocation service failed.' :
													'Error: Your browser doesn\'t support geolocation.');
		infoWindow.open(map);
		map.setCenter(pos);
	}



</script>

<script
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmykOK6YRGHZ6nkx-mpJc7Ql4y-axWEJE&libraries=places&callback=initAutocomplete"
 async defer>
</script>

<form action="/climate_output/" method="post">
	{% csrf_token %}
	<label for="Longitude">Longitude: <br></label>
	<input type="text" id="Longitude" name="long" value="">
  <br>
  <label for="Latitude">Latitude: <br></label>
  <input type="text" id="Latitude" name="lat" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>

<form action="/bio_output/" method="post">
	{% csrf_token %} 	
	<label for="Longitude">Longitude: <br></label>
	<input type="text" id="Longitude" name="long" value="">
  <br>
  <label for="Latitude">Latitude: <br></label>
  <input type="text" id="Latitude" name="lat" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
	
{% if message %}
{{ message }}
{% endif %}

<form action="">
  Google Email:<br>
  <input type="text" name="email">
  <br><br>
  <input type="submit" value="Submit">
</form>

<form action="/Spinner.html">
<button id="Generate" onclick="location.href = 'https://script.google.com/a/nau.edu/macros/s/AKfycbx3M2I2nfbA3wYw18H5BWH_hW8Ket6axhXmXfXCCB0/dev';">Generate Slides</button>
</form>
</body>
</html>
