{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<script src="{% static '/js/Slides.js' %} "> </script>

  <div class="topnav-title">
  <img style="display:inline;" src="{% static 'Logos/GeoLearn_Logo.png' %}" alt="GeoLearn Logo">
  <title class="header" style="display:inline; font-size:90px;">GeoLearn</title>
</div>

<div class="topnav">
  <a href="/index.html">Home</a>
  <a href="/Slides.html">Slides</a>
 </div>
</head>
<body>
<div class="dropdown">
  <button onclick="selectedTopic()" class="dropbtn">Topics</button>
  <div id="topics" class="dropdown-content">
    <a href="#biodiversity">Biodiversity</a>
    <a href="#land-use">Land-Use Change</a>
    <a href="#climate">Climate Change</a>
	<a href="#fire">Fire</a>
  </div>
</div>

<div class="dropdown">
  <button onclick="selectedDifficulty()" class="dropbtn">Difficulty</button>
  <div id="difficulty" class="dropdown-content">
    <a href="#advance">Advanced</a>
    <a href="#intermediate">Intermediate</a>
    <a href="#beginner">Beginner</a>
  </div>
</div>

<!--Google Maps API for LAT LONG Selection-->
<input id="pac-input" class="controls" type="text" placeholder="Enter a Location">
<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmykOK6YRGHZ6nkx-mpJc7Ql4y-axWEJE&libraries=places&callback=initAutocomplete"
	 async defer>
</script>

<form action="">
  Longitude:<br>
  <input type="text" name="Longitude" value="">
  <br>
  Latitude:<br>
  <input type="text" name="Latitude" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>

<!--Example button to show how to link a url python script in the html -->
<!--In the 'urls.py' script, you can see one of the paths has a parameter, 'name', that is set to 'bio_submit'-->
<!--Here, inside the brackets, you can see we are referencing this url path-->
<!--That url path then calls a function from views.py that then runs the biodiversity script-->
<button onclick="location.href='{% url 'bio_submit' %}' ">example button</button> 

<form action="">
  Google Email:<br>
  <input type="text" name="email">
  <br><br>
  <input type="submit" value="Submit">
</form>

<button onclick="location.href = 'https://script.google.com/a/nau.edu/macros/s/AKfycbx3M2I2nfbA3wYw18H5BWH_hW8Ket6axhXmXfXCCB0/dev';">Generate Slides</button>
</body>
</html>
