

/* Set size of div element that contains Map */
#map {
  height: 700px;
  width: 100%;
  background-color: grey;
}

#description {
  font-family: Roboto;
  font-size: '15px';
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: black;
  text-align: center;
  padding: 40px 25px;
  text-decoration: none;
  font-family: Candara;
  font-size: 30px;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:  rgba(253, 253, 253, 0.25);
  color: #1d781d;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #76bacf;
  color: black;
}

.header{
  font-family: Candara;
  -webkit-text-stroke: 3px black;
  color: #1d781d;
  margin-left: 25px;
}


h1{
	margin-left: 200px;
	margin-right: 200px;
}

h2{
  font-family: Sans-serif;
  color: #1d781d;
  font-size: 40px;
  margin-right: 200px;
  margin-left: 50px;
}

h3{
  font-family: Sans-serif;
  color: #1d781d;
  font-size: 20px;
  margin-left:225px;
}

h4{
  font-family: Sans-serif;
  color: #000000;
  font-size: 22px;
}

h5{
  font-family: Sans-serif;
  color: #000000;
  font-size: 19px;
}

ul{
	font-family: Sans-serif;
	color: #000000
}

p{
	font-family: Candara;
	color: #000000;
	margin-right: 200px;
	margin-left: 50px;
}

a{
	font-family: Sans-serif;
	color: #000000
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.grid-container {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-template-rows: 200px 200px;
	grid-column-gap: 75px;
	grid-row-gap: 75px;
}

.item1 {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

.item2 {
	grid-column: 1;
	grid-row: 2;
}

.item3 {
	grid-column-start: 2;
	grid-row-start: 1;
}

nav {
    background-color: rgba(253, 253, 253, 0);
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
	margin-left: 390px;
	margin-right: 390px;
}

table{
	padding:15px;
}


.show {display: block;}
